<h1><%= @restaurant.name %></h1>
<%= @restaurant.address %>
<br>
<%= @restaurant.phone_number %>
<br>
<%= @restaurant.category %>

<p><strong>Reviews</strong></p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.rating %>
    <%= review.content %></li>
  <% end %>
</ul>
<br>
<%= link_to "Add new review",  new_restaurant_review_path(@restaurant) %>

<%= link_to "Back to list", restaurants_path %>
